*,
*::before,
*::after{
  box-sizing: border-box;
}
img{
  vertical-align: middle;
}
body{
  position: relative;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
h1, h2, h3, h4, h5, h6, ul, p{
   margin: 0px;
   padding: 0px;
}