.easy{
  padding-top: 150px;
  padding-bottom: 150px;
}
.easy__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.easy__img{
  width: 445px;
  height: 284px;
  background-color: #1B262F;
  box-shadow: 25px 25px 80px rgba(54, 83, 107, 0.300727);
  border-radius: 24px;
}
.easy__box{
  max-width: 445px;
  width: 100%;
}
.easy__title{
  margin-bottom: 24px;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536B;
}
.easy__text{
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6C8294;
}

@media only screen and (max-width:960px){
  .easy__inner{
    flex-direction: column;
  }
  .easy__img{
    display: block;
    width: 410px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  .easy__box{
    text-align: center;
    width: 100%;
  }
}
@media only screen and (max-width:440px){
  .easy__img{
    max-width: 320px;
    width: 100%;
    height: 227px;
    width: 410px;
    height: 250px;
  }
}